* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: #fcf3e8;
  height: 100vh;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

nav {
  background-color: #e29e9e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  margin-bottom: 84px;
}

nav a {
  text-decoration: none;
  color: #525151;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

.item-container {
  margin-bottom: 40px;
  padding-inline: 23px;
}

img {
  object-fit: cover;
  max-width: 400px;
  height: 300px;
  border-radius: 8px;
}

.item-buttons {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

button {
  background-color: #E5E7EB;
  color: #4B5563;
  border: 1px solid #3760b3;
  border-radius: 6px;
  font-weight: 700;
  padding: 9px 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.item-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 100px;
}

.item-card img {
  max-width: 200px;
  border-radius: 5px;
}

.load-more {
  display: block;
  background-color: #798daa;
  color: rgb(248, 243, 175);
  text-decoration: none;
  margin-left: 100px;
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.go-back {
  color: #3760b3;
  margin: 40px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.form-container > input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

form > input {
  border: 1px solid rgba(209, 213, 219);
  margin-top: 10px;
  text-indent: 10px;
  font-family: "Kanit", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}
